.cartDisabled{
    
    opacity: 0.4;
    border-color: #787878;
    cursor: default;
    &:active{
        transform: none;
    }
    &:hover{
        background-color: transparent;
        svg path{
            fill: #787878;
        }
    }
    svg path{
        fill: #787878;
    }
}
